# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

settings.py
db.sqlite3
roseenv/
rosebot/rosebot/bin/
rosebot/rosebot/include/
rosebot/rosebot/lib/
rosebot/rosebot/pip-selfcheck.json

